<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="icon" href="../../../Images/icon.png">
    <link rel="stylesheet" href="../static/CSS/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body dir="rtl">
    <footer class="general-footer">
        <div class="general-footer-container">
            <ul>
                <li class="titles">עקבו אחרינו</li>
                <li><a href="https://www.facebook.com/TALIAnevetzedek"><i class="fab fa-facebook"></i>  פייסבוק</a></li>
                <li><a href="https://www.instagram.com/talia_flowers_nevetzedek/"><i class="fab fa-instagram"></i>     אינסטגרם</a></li>
            </ul>
            <ul>
                <li class="titles">צרו קשר</li>
                <li><i class="fas fa-phone"></i>  050-2533955</li>
                <li><i class="fas fa-envelope"></i><a href="mailto:office@talia.co.il" class="originalLink"> office@talia.co.il </a></li>
            </ul>
            <ul>
                <li class="titles">החנות</li>
                <li><i class="fas fa-map-marker-alt"></i>   שבזי 25,נווה צדק ת"א</li>
                <li><i class="fas fa-clock"></i>   ימים א'-ה': 09:00-19:00</li>
            </ul>
        </div>
    </footer>

</body>
</html>
