<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <base href="/web-project-g15/">
    <link rel="icon" href="Images\icon.png">
    <link rel="stylesheet" href="Pages\user_profile\static\CSS\sign_in_up.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="Pages\user_profile\static\JS\sign_in_up.js"></script>
</head>

<body dir="rtl">
    <header>
        <a href="Pages\user_profile\templates\shopping_cart.html" class="top-line-left"><i class="fas fa-shopping-bag"></i></a>
        <a id="logIn" href="Pages\user_profile\templates\sign_in.html" class="top-line-left">התחברות</a>
        <a href="Pages\home_page\templates\home_page.html" class="top-line-center"><img src="Components\Header\static\Images\logo.png" alt="Logo" height="73" width="200"></a>
        <nav>
            <a href="Pages\home_page\templates\home_page.html" class="navline">דף הבית</a>
            <a href="Pages\about_page\templates\about_page.html" class="navline">אודות</a>
            <a href="Pages\category_page\templates\category_page.html" class="navline">זרים</a>
            <a href="Pages\category_page\templates\category_page.html" class="navline">זרים לראש</a>
            <a href="Pages\category_page\templates\category_page.html" class="navline">זרי כלה</a>
            <a href="Pages\category_page\templates\category_page.html" class="navline">קופסאות פרחים</a>
            <a href="Pages\workshop_page\templates\workshop_page.html" class="navline">סדנאות</a>

        </nav>
    </header>

    <section class="sign-in-page">
    <h2>התחברות לאתר</h2><br>
    <form action="/todo" method="post">
        <label for="email" >אימייל:</label>
        <input type="email" id="Email" name="Email" required/>
        <p id="note1"></p>
        <label for="password">סיסמא:</label>
        <input type="password" id="Password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="חייב להכיל לפחות ספרה אחת ואות גדולה וקטנה אחת, ולפחות 8 תווים או יותר" required/><br>
        <p id="note2"></p>
        <button type="submit" class="button" onclick="checkValidMail('Email','note1'), checkValidPass('Password','note2')">התחבר/י</button><br><br>
    </form>
        <a id="signUp" href="/Pages/user_profile/templates/sign_up.html">להרשמה לחצ/י כאן</a>
    </section>



        <footer class="general-footer">
            <div class="general-footer-container">
                <ul>
                    <li class="titles">עקבו אחרינו</li>
                    <li><a href="https://github.com/my-github-profile"><i class="fab fa-facebook"></i>  פייסבוק</a></li>
                    <li><a href="https://twitter.com/my-twitter-profile"><i class="fab fa-instagram"></i>     אינסטגרם</a></li>
                </ul>
                <ul>
                    <li class="titles">צרו קשר</li>
                    <li><i class="fas fa-phone"></i>  050-2533955</li>
                    <li><i class="fas fa-envelope"></i><a href="mailto:office@talia.co.il" class="originalLink"> office@talia.co.il </a></li>
                </ul>
                <ul>
                    <li class="titles">החנות</li>
                    <li><i class="fas fa-map-marker-alt"></i>   שבזי 25,נווה צדק ת"א</li>
                    <li><i class="fas fa-clock"></i>   ימים א'-ה': 09:00-19:00</li>
                </ul>
            </div>
        </footer>
</body>
</html>