<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/Part2/">

    <link rel="stylesheet" href="Components\Header\Static\CSS\header2.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Header2</title>
</head>
<body dir="rtl">
<header >
    <section class="container">

        <!-- תפריט ניווט-->
        <div class="parta">
          <nav class="topnav">
            <a href="/Pages/home_page/Templates/home_page.html">דף הבית</a>
            <a href="Pages/category_page/Templates/category_page.html">זרים</a>
            <a href="Pages/category_page/Templates/category_page.html">זרים לראש</a>
            <a href="Pages/category_page/Templates/category_page.html">זרי כלה</a>
            <a href="Pages/category_page/Templates/category_page.html">קופסאות פרחים</a>
            <a href="Pages/category_page/Templates/category_page.html">סדנאות</a>
          </nav>
          <nav class="avatar">
                 <a id="logIn" href="/Pages/user_profile/Templates/sign_in.html">התחברות</a>
                 <a href="Pages/user_page/Templates/sign_in.html"><i class="fas fa-shopping-bag"></i></a>
          </nav>
        </div>
        <div class="partb">
               <img src="/Components/Header/Static/Images/logo2.png" width="150"/>
        </div>


        <!-- לוגו של האתר-->


    </section>

</header>


</header>
</body>
</html>

