

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/Part2/">
    <link rel="stylesheet" href="Components\Header\Static\CSS\header.css"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Header</title>
</head>
<body dir="rtl">
    <header>
        <a href="Pages/home_page/templates/home_page.html" class="top-line-center"><img src="Components\Header\Static\Images\logo2.png" alt="Logo" height="130" width="250"></a>
        <a href="Pages/user_page/Templates/sign_in.html" class="top-line-left"><i class="fas fa-shopping-bag"></i></a>
        <a id="logIn" href="/Pages/user_profile/Templates/sign_in.html" class="top-line-left">התחברות</a>
        <nav>
            <a href="Pages/home_page/Templates/home_page.html" class="navline">דף הבית</a>
            <a href="Pages/category_page/Templates/category_page.html" class="navline">זרים</a>
            <a href="Pages/category_page/Templates/category_page.html" class="navline">זרים לראש</a>
            <a href="Pages/category_page/Templates/category_page.html" class="navline">זרי כלה</a>
            <a href="Pages/category_page/Templates/category_page.html" class="navline">קופסאות פרחים</a>
            <a href="Pages/category_page/Templates/category_page.html" class="navline">סדנאות</a>

        </nav>

    </header>
</body>
</html>