<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="../../../Images/icon.png">
    <link rel="stylesheet" href="../static/CSS/about_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body dir="rtl">
    <header>
        <a href="../../../Pages/user_page/templates/shopping_cart.html" class="top-line-left"><i class="fas fa-shopping-bag"></i></a>
        <a id="logIn" href="../../../Pages/user_page/templates/sign_in.html" class="top-line-left">התחברות</a>
        <a href="../../../Pages/home_page/templates/home_page.html" class="top-line-center"><img class="logo_img" src="../../../Components/Header/static/Images/logo.png" alt="Logo"></a>
        <a href="../../../Pages/user_page/templates/profile_page.html" class="top-line-right"><i class="far fa-user"></i></a>
        <nav>
            <a href="../../../Pages/home_page/templates/home_page.html" class="navline">דף הבית</a>
            <a href="../../../Pages/about_page/templates/about_page.html" class="navline">אודות</a>
            <a href="../../../Pages/category_page/templates/category_page.html" class="navline">זרים</a>
            <a href="../../../Pages/category_page/templates/category_page.html" class="navline">זרים לראש</a>
            <a href="../../../Pages/category_page/templates/category_page.html" class="navline">זרי כלה</a>
            <a href="../../../Pages/category_page/templates/category_page.html" class="navline">קופסאות פרחים</a>
            <a href="../../../Pages/workshop_page/templates/workshop_page.html" class="navline">סדנאות</a>
        </nav>
    </header>

    <div class="container">

        <div class="about_text" dir="rtl">
            <article>
                <h1 class="about_title">
                    אודות
                    <b>TALIA</b>
                </h1>
                <p>חנות בוטיק ועיצוב פרחים באזור תל אביב אצלנו תמצאו אהבה גדולה לפרחים ואהבה גדולה יותר לעיצוב עם תשומת לב מיוחדת לפרטים הקטנים, לאיכות ולייחודיות. אצלנו תוכלו למצוא את זרי הפרחים הכי עדכניים בהתאם לטרנדים עולמיים. קולקציות מעודכנות ומתחלפות של פריטי עיצוב,  זרי פרחים, זרי ראש וזרי כלה בהתאם לעולם העיצוב עם דגש על אופנתיות ואיכות שילוו אתכם ומותאמים לחיים המשתנים והדינאמיים. לארועים ושמחות אנחנו מגיעים עם דוכן שזירה מלא בפרחים בו נקשט את כל האורחים שלכם ואם בא לכם ללמוד לשזור מתקיימות אצלנו סדנאות ללימוד שזירה ועיצוב פרחים.
                    <br>
                    <br>
אנו שמחים להזמין אתכם אל חנות האינטרנט שלנו המאפשרת לכם ליהנות ממשלוחי פרחים מיוחדים, זרים איכותיים וטריים, זרי כלה וזרי ראש וקופסאות פרחים בעיצובים שונים. בחנות הפרחים שלנו תמצאו את המוצרים המושלמים עבורכם, קנייה מהירה וקלה, מבחר פריטים שונה מגוון וייחודי, ממשק אינטרנט נוח, שירות אישי, משלוחים מהירים ובקיצור כל מה שאתם צריכים בשביל להפוך את הביקור בחנות האינטרנט שלנו לחוויית קנייה מהנה ומהירה 24 שעות ביממה.</p>
            </article>
         <div>
                <img class="about_img" src="../static/Images/talia.jpg" alt="talia_img">
         </div>
        </div>

    </div>




    <footer class="general-footer">
        <div class="general-footer-container">
            <ul>
                <li class="titles">עקבו אחרינו</li>
                <li><a href="https://www.facebook.com/TALIAnevetzedek"><i class="fab fa-facebook"></i>  פייסבוק</a></li>
                <li><a href="https://www.instagram.com/talia_flowers_nevetzedek/"><i class="fab fa-instagram"></i>     אינסטגרם</a></li>
            </ul>
            <ul>
                <li class="titles">צרו קשר</li>
                <li><i class="fas fa-phone"></i>  050-2533955</li>
                <li><i class="fas fa-envelope"></i><a href="mailto:office@talia.co.il" class="originalLink"> office@talia.co.il </a></li>
            </ul>
            <ul>
                <li class="titles">החנות</li>
                <li><i class="fas fa-map-marker-alt"></i>   שבזי 25,נווה צדק ת"א</li>
                <li><i class="fas fa-clock"></i>   ימים א'-ה': 09:00-19:00</li>
            </ul>
        </div>
    </footer>

</body>
</html>