@import "/Components/Header/Static/CSS/header.css";
@import "/Components/Footer/Static/CSS/footer.css";
@import "/CSS/variables.css";

*{
    font-family: var(--font-text);
}

.product-title{
    font-weight: normal;
    font-size: 33px;
    margin:0;
    text-align: right;
    padding-bottom: 15px;
}

.product-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-top: 130px;
    padding-bottom:162px;
    text-align: right;
}

.product-content{
    font-size: 17px;
}

.product-price{
    font-size: 20px;
}

.product-button {
    display: inline-block;
    margin-top:10px;
    background: var(--color_background_buttons);
    color: var(--color_text_buttons);
    text-decoration: none;
    padding: 6px 23px;
    transition: 0.2s;
    font-weight: bold;
    border: 2px solid #000;
}

.product-button:hover{
    background: var(--color_text_buttons);
    color: var(--color_background_buttons);
}


.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left:15px;
}

.img-box {
    width: 375px;
    height: 375px;
    overflow: hidden;
    margin-right: 100px;
}

.product-photo {
    width: 375px;
    height: 375px;
    transition: 0.5s;
}

.product-photo:hover{
    border: none;
    transform: scale(1.2);
}
